.c-map {
  width: calc(100% - var(--sidebar-width));
  height: calc(100vh - var(--header-height));
}

.c-map__mark {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: var(--color-white);
}

.c-map__mark--alert {
  background-color: var(--color-red);
}
